# Xcode files to ignore
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
*.xcscheme
*.xcschememanagement.plist

# Swift Package Manager
*.resolved

# macOS-specific files
.DS_Store
